In [1]:
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
year = "2011"
file_path = {}
file_path["MAM4"] = "/data/keeling/a/zzheng25/d/mam4_paper_data/chi_only/mam4_chi/"
file_path["ML"] = "/data/keeling/a/zzheng25/d/mam4_paper_data/chi_only/ml_chi/"
file_path["diff"] = "/data/keeling/a/zzheng25/d/mam4_paper_data/chi_only/mam4_minus_ml_chi/"
file_path["diff_abs"] = "/data/keeling/a/zzheng25/d/mam4_paper_data/chi_only/mam4_minus_ml_chi/"
mask_path = "/data/keeling/a/zzheng25/d/mam4_paper_data/chi_only/mask/"
comp_path = "/data/keeling/a/zzheng25/d/mam4_paper_data/chi_only/comp_analysis/"

In [3]:
chi = "chi_b"
mask = xr.open_dataset(mask_path+str(year)+"_"+chi+".nc")["mask"]
ds_comp = xr.open_dataset(comp_path+str(year)+"_year_comp.nc").where(mask)
ds_MAM4 = xr.open_dataset(file_path["MAM4"]+str(year)+"_"+chi+"_mean.nc").where(mask)
ds_ML = xr.open_dataset(file_path["ML"]+str(year)+"_"+chi+"_mean.nc").where(mask)

In [4]:
df_comp = ds_comp.to_dataframe().reset_index()
df_MAM4 = ds_MAM4.to_dataframe().reset_index()
df_ML = ds_ML.to_dataframe().reset_index()
df_comp["bc_per"] = df_comp["bc_a1_per"]+df_comp["bc_a4_per"]
df_comp["bc_SRF"] = df_comp["bc_a1_SRF"]+df_comp["bc_a4_SRF"]

In [5]:
df_comp_MAM4 = pd.merge(df_comp, df_MAM4, on=["lat","lon"],how="inner")
df_comp_ML = pd.merge(df_comp, df_ML, on=["lat","lon"],how="inner")

In [6]:
print("MAM4 overall")
display(df_comp_MAM4.describe()[["bc_per",chi]].transpose())

print("MAM4 high bc SRF")
display(df_comp_MAM4[df_comp_MAM4["bc_SRF"]>df_comp_MAM4["bc_SRF"]\
                     .quantile(0.95)].describe()[["bc_per",chi]].transpose())

print("MAM4 high bc per")
display(df_comp_MAM4[df_comp_MAM4["bc_per"]>df_comp_MAM4["bc_per"]\
                     .quantile(0.95)].describe()[["bc_per",chi]].transpose())

MAM4 overall

,count,mean,std,min,25%,50%,75%,max
bc_per,37580.0,3.548117,2.500297,0.131610,1.748294,2.652435,4.751917,19.176568
chi_b,37580.0,0.862575,0.105373,0.463931,0.767485,0.901804,0.942661,0.997614

MAM4 high bc SRF

,count,mean,std,min,25%,50%,75%,max
bc_per,1879.0,7.954151,2.888659,1.338752,5.855141,7.611785,9.791478,18.119896
chi_b,1879.0,0.946435,0.022610,0.838043,0.936923,0.949961,0.961127,0.994196

MAM4 high bc per

,count,mean,std,min,25%,50%,75%,max
bc_per,1879.0,9.772786,1.708077,8.451927,8.654564,9.029015,10.238831,19.176568
chi_b,1879.0,0.931191,0.028368,0.763128,0.930726,0.938165,0.944109,0.975841

In [7]:
print("ML overall")
display(df_comp_ML.describe()[["bc_per",chi]].transpose())

print("ML high bc SRF")
display(df_comp_ML[df_comp_ML["bc_SRF"]>df_comp_ML["bc_SRF"]\
                     .quantile(0.95)].describe()[["bc_per",chi]].transpose())

print("ML high bc")
display(df_comp_ML[df_comp_ML["bc_per"]>df_comp_ML["bc_per"]\
                   .quantile(0.95)].describe()[["bc_per",chi]].transpose())

ML overall

,count,mean,std,min,25%,50%,75%,max
bc_per,37580.0,3.548117,2.500297,0.131610,1.748294,2.652435,4.751917,19.176568
chi_b,37580.0,0.725480,0.075118,0.546323,0.667988,0.730390,0.770803,0.961631

ML high bc SRF

,count,mean,std,min,25%,50%,75%,max
bc_per,1879.0,7.954151,2.888659,1.338752,5.855141,7.611785,9.791478,18.119896
chi_b,1879.0,0.835658,0.069945,0.557584,0.793728,0.844257,0.889982,0.961631

ML high bc

,count,mean,std,min,25%,50%,75%,max
bc_per,1879.0,9.772786,1.708077,8.451927,8.654564,9.029015,10.238831,19.176568
chi_b,1879.0,0.786183,0.051825,0.644481,0.757084,0.762376,0.813573,0.961631